{% extends 'base.html.twig' %}

{% block title %}إسترجاع كلمة المرور{% endblock %}

{% block login %}
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row" style="height: 500px;">
                            <div class="col-lg-6" style="background: #e6effd;">
                                <div class="p-5 mt-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">إسترجاع كلمة المرور</h1>
                                        {% for flashError in app.flashes('reset_password_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}
                                        {{ form_start(requestForm) }}
                                        {{ form_widget(requestForm.email) }}
                                        <input type="submit" class="btn btn-primary btn-user btn-block mt-3"
                                               value="إرسال إعادة تعيين كلمة المرور">
                                        {{ form_end(requestForm) }}
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a href="{{ path('app_login') }}">العودة إلى تسجيل الدخول</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
