{% extends 'base.html.twig' %}

{% block title %}معطيات المعلم{% endblock %}
{% block title_header %}معطيات المعلم{% endblock %}

{% block body %}
    {% set sumMonth = 0 %}
    {% set sumDay = 0 %}
    {% set addMonth = 0 %}
    {% set restDay = 0 %}
    {% for m in teacher.missions %}
        {% set sumMonth = sumMonth + m.newMonth %}
    {% endfor %}
    {% for m in teacher.missions %}
        {% set sumDay = sumDay + m.newDay %}
    {% endfor %}
    {% set  restDay = (sumDay + teacher.initDay) % 30 %}
    {% set  addMonth = (sumDay + teacher.initDay) // 30 %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>الاسم و اللقب</th>
            <td>{{ teacher.fullName }}</td>

            <th>رقم بطاقة تعريف وطنية</th>
            <td>{{ teacher.cin }}</td>

            <th>تاريخ الولادة</th>
            <td>{{ teacher.birthday ? teacher.birthday|date('Y/m/d') : '' }}</td>
        </tr>
        <tr>
            <th>الهاتف الجوال</th>
            <td>{{ teacher.phone }}</td>

            <th>المعتمدية</th>
            <td>{{ teacher.city }}</td>

            <th>الترتيب</th>
            <td>{{ teacher.ord }}</td>
        </tr>
        <tr>
            <th>سنة التخرج</th>
            <td>{{ teacher.diplomaAt }}</td>
            <th>المعرف الوحيد</th>
            <td>{{ teacher.pId|default('لا يوجد') }}</td>
            <th>المعرف البريدي أو البنكي</th>
            <td>{{ teacher.bankId|default('لا يوجد') }}</td>

        </tr>
        <tr>
            <th>العنوان</th>
            <td colspan="2">{{ teacher.address|default('لا يوجد') }}</td>

            <th>الملاحظات</th>
            <td colspan="2">{{ teacher.comment|default('لا توجد') }}</td>
        </tr>

        </tbody>
    </table>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>الاشهر القديمة</th>
            <td colspan="2">{{ teacher.initMonth }}</td>
            <th>الايام القديمة</th>
            <td colspan="2">{{ teacher.initDay }}</td>
            <th>مجموع الاشهر</th>
            <td colspan="2">
                {{ sumMonth + teacher.initMonth + addMonth }}
            </td>
            <th> مجموع الايام</th>
            <td colspan="2">
                {{ restDay }}
            </td>
        </tr>
        </tbody>
    </table>
    {% if(teacher.archived == false) %}
        <a href="{{ path('teacher_index') }}" class="btn btn-info"><i class="fas fa-angle-right"></i> العودة إلى القائمة
        </a>
        <a href="" data-toggle="modal" data-target="#deleteModal-{{ teacher.id }}"
           class="btn btn-danger float-left mr-2"><i
                    class="fas fa-trash"></i> حذف المعطيات</a>
        {{ include('teacher/_delete_form.html.twig') }}
        <a href="{{ path('teacher_edit', {'id': teacher.id}) }}" class="btn btn-primary float-left mr-2"><i
                    class="fas fa-edit"></i> تعديل
            المعطيات </a>
    {% endif %}
    {% if teacher.archived == false %}
        <a href="{{ path('archive_new',{'id':teacher.id}) }}" class="btn btn-dark"><i class="fas fa-box"></i>
            تحويل إلى الأرشيف
        </a>
    {% else %}
        <a href="" data-toggle="modal" data-target="#deleteArchiveModal-{{ teacher.archive.id }}"
           class="btn btn-light"><i
                    class="fas fa-box"></i>
            الخروج من الأرشيف
        </a>
        {{ include('archive/_delete_form.html.twig') }}
    {% endif %}
    <hr>

    {% include 'teacher/_mission_teacher.html.twig' with { teacher : teacher } %}
{% endblock %}
