{{ form_start(form) }}
<div class="form-row">
    <div class="col">
        {{ form_row(form.school) }}
    </div>
    <div class="col">
        {{ form_row(form.city) }}
    </div>
    <div class="col">
        {{ form_row(form.type) }}
    </div>
</div>
<div class="form-row">
    <div class="col">
        {{ form_row(form.newMonth) }}
    </div>
    <div class="col">
        {{ form_row(form.newDay) }}
    </div>
    <div class="col">
        {{ form_row(form.startAt) }}
    </div>
    <div class="col">
        {{ form_row(form.endAt) }}
    </div>
</div>
<button class="btn btn-primary"><i class="fas fa-save"></i> {{ button_label|default('تسجيل') }}</button>
{{ form_end(form) }}
