{% extends 'base.html.twig' %}

{% block title %}Subscription{% endblock %}

{% block body %}
    <h1>Subscription</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ subscription.id }}</td>
        </tr>
        <tr>
            <th>StartAt</th>
            <td>{{ subscription.startAt ? subscription.startAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>EndAt</th>
            <td>{{ subscription.endAt ? subscription.endAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ subscription.createdAt ? subscription.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('subscription_index') }}">back to list</a>

    <a href="{{ path('subscription_edit', {'id': subscription.id}) }}">edit</a>

    {{ include('subscription/_toliste.html.twig') }}
{% endblock %}
