<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-turquoise sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('dashboard') }}">
        <div class="sidebar-brand-icon text-center">
            <div class="sidebar-brand-text">{{ appName }}</div>
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard') }}">
            <i class="fas fa-fw fa-home"></i>
            <span>لوحة التحكم</span></a>
    </li>
    {% if not is_granted("ROLE_ADMIN") %}
        {% if is_granted("ROLE_MANGER") %}
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                معطيات أساسية
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('city_index') }}">
                    <i class="fas fa-fw fa-map-marker-alt"></i>
                    <span>المعتمديات</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('school_index') }}">
                    <i class="fas fa-fw fa-university"></i>
                    <span>المؤسسات </span></a>
            </li>
        {% endif %}
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            إدارة المعطيات
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('teacher_index') }}">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>المعلمين النواب</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('mission_index') }}">
                <i class="fas fa-fw fa-sync-alt"></i>
                <span>النيابات</span></a>
        </li>
        {% if is_granted('ROLE_ACCOUNT') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('salary_index') }}">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span>الأجور</span></a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('archive_index') }}">
                <i class="fas fa-fw fa-archive"></i>
                <span>الأرشيف</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            الإتصال
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">
                <i class="fas fa-fw fa-envelope"></i>
                <span>إتصل بنا</span></a>
        </li>
    {% elseif is_granted("ROLE_ADMIN") %}
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            معطيات أساسية
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('region_index') }}">
                <i class="fas fa-fw fa-map-marked"></i>
                <span>الولايات</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            إدارة الحسابات
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('legation_show') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>المندوبية </span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">
                <i class="fas fa-fw fa-users"></i>
                <span>المستخدمين</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            العمليات المالية
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('offer_index') }}">
                <i class="fas fa-fw fa-store"></i>
                <span>العروض</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('subscription_index') }}">
                <i class="fas fa-fw fa-calendar-check"></i>
                <span>الإشتراكات</span></a>
        </li>
    {% endif %}
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
